.quiz-settings {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .quiz-dropdown, .quiz-input {
    width: 200px;
  }
  
  .quiz-button {
    background-color: #1890ff;
    color: white;
  }
  .quiz-actions {
    display: flex;
    gap: 20px;
    margin: 20px;
  }
  