.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}